body
{
    background-color: aliceblue;
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}
.logo
{
    height: 10%;
    width: 10%;
}
#menu li > a
{
    font-size: 20px;
}
#menu form > button
{
    font-size: 18px;
}
.carousel-inner
{
    max-height: 400px;
}
@media(max-widht: 768px)
{
    #intro
    {
        width:90% !important;
    }
    .servicio-fila
    {
        width: 100% !important;
        text-align: center;
    }
}
@media(max-width: 576px)
{
    .icono-wrap
    {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
